* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: auto;
}

.icon {
    font-size: 35px;
    margin: 10px;
}

.icon:hover {
    color: whitesmoke;
}

.nlink:hover {
    text-decoration: underline;
}

.card {
    margin: 30px;
    text-align: center;
    box-shadow: 6px 6px 6px gray;
    height: 400px;
}