* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: auto;
}

.nlink {
    color: aquamarine;
}

.nlink:hover {
    color: darkseagreen;
}

.mainInfo {
    height: 613px;
}


.link {
    padding: 15px;
    font-size: 30px;
    color: white;
}

.link:hover {
    color: blue;
}

.mainBground {
    padding-left: 90px;
    position: relative;
    z-index: 1;
}

.bground {
    position: absolute;
    width: 340px;
    height: 420px;
    background-color: gray;
    z-index: -1;
    top: 140px;
}