* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: auto;
}

.icon {
    font-size: 35px;
    margin: 10px;
}

.icon:hover {
    color: whitesmoke;
}

.nlink:hover {
    text-decoration: underline;
}

.carousel {
    text-align: center;
}

.footer-icon {
    color: blue;
    font-size: 25px;
    padding: 5px;
}

.footer-icon:hover {
    color: white;
}